.footer__author {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 320px) {
  .footer__author {
    padding-top: 64px;
  }
}
