.place__paragraphs {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  flex-direction: column;
  row-gap: 25px;
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: unset;
  }
}