.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  height: 254px;
}

@media screen and (max-width: 320px) {
  .modal {
    min-width: 288px;
    height: 163px;
    gap: 16px;
  }
}
