@import url("../fonts/inter.css");

p, h1, h2, h3, h4, h5, ul {
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
}

.page {
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Inter';
    background-color: #2A2C2F;
}

.logo {
    width: 270px;
    height: 70px;
}

.logo_place_header {
    position: absolute;
    top: 34px;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 194px;
    padding-bottom: 92px;
    max-width: 984px;
}

.header__title {
    font-weight: 900;
    font-size: 96px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 95px 32px;
    line-height: 1;
}

.header__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 132px;
    line-height: 1.3;
}

.header__image {
    padding-top: 64px;
    width: 984px;
    height: 615px;
}

.intro {
    width: 1017px;
    height: 516px;
    margin: 0 auto;
    color: #FFFFFF;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.15;
    text-align: left;

}

.intro__author-quote {
    width: 720px;
    height: 135px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.15;
    text-align: left;
    padding-top: 40px;
}

.intro__author {
    width: 720px;
    height: 35px;
    text-align: right;
    position: relative;
    font-weight: 400;
    font-size: 24px;
    bottom: 45px;
}

.intro__description {
    height: 180px;
    width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.photo-grid {
    margin: 92px auto;
    width: 1184px;
    height: 442px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.photo-grid__image {
    width: 284px;
    height: 213px;
}

.places {
    width: 984px;
}