.cover__title {
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  padding-bottom: 25px;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    height: 35px;
  }
}
